<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Hub</title>
</head>

<body>
    {{ message }}

    <a href="http://localhost:4800">Clients</a>
    <a href="http://localhost:4900">Dashboard</a>
    <a href="http://localhost:3000/login/generic_oauth">Grafana</a>

    <a href="/logout">LOGOUT</a>
</body>

</html>
